h1{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    background-color: lightslategray;
    z-index: -1;
    margin-left: 160px;
}
body{
    background-color: lightpink;
}
.content{
    margin-left: 160px;
   
}
#top-boxes{
    height: 120px;
    width: 120px;
    position: relative;
}
#what{
    float: right;
    width: 40%;
    height: 160px;
    object-fit: contain;
  
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#sidebar{
    text-decoration-color: darkgrey;
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: cornflowerblue;
    top: 0;
    right: 0;
    z-index: 2;
  
}
.segment-text{
    margin-top: 100px;
    background-color:lavenderblush;
}