h1{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: lightslategray;
    z-index: auto;
}
#top-boxes{
    position: relative;
    width: 600px;
    float: left;
}
#what{
    size: inherit;
}
#sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: navy;
    top: 0;
    z-index: 2;
}